html,body{
    overflow: hidden;
}
.container{
    height: 100%;
}
.menu{
    position: absolute;
    left: 0;
    width: 12%;
    height: 100%;
    text-align: center;
    background: #f69941;
}
.menu a{
    color: #FFF;
}
.menu a:hover{
    color: #f69941;;
}
.navbar{
    background: #f69941;
    border-color: #f69941;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #f19e78;
}
.menu i{
    color: #FFF;
}
.rightBox{
    position: absolute;
    width: 88%;
    height: 100%;
    left: 12%;
    overflow: auto;
}
.headTitle{
    line-height: 70px;
}
.userBtn{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: -50px;
}
.master{
    height:920px;
    background: #ececec;
    overflow: hidden;
}
.panel{
    margin-bottom: 0;
}
.importPage{
    overflow: hidden;
}
.bottomInfo{
    text-align: center;
    margin-bottom: 0;
    background: #fff;
}
.logo{
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-position: 65% 0;
    background-size: 160%;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.panel-primary{
    border-color: #777;
}
.panel-primary h3{
    color: #777;
}
.panel-primary>.panel-heading{
    background: #FFF;
    border-color: #CCC;
}
